<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908356547933-srf0lcq4o14nmqt2fq3h3lko0uaf9gc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908356547933-srf0lcq4o14nmqt2fq3h3lko0uaf9gc3</string>
	<key>API_KEY</key>
	<string>AIzaSyCDxdCUrFLtKbCrmSmeKrYsHf03unx4HUY</string>
	<key>GCM_SENDER_ID</key>
	<string>908356547933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>sosa-75f3d</string>
	<key>STORAGE_BUCKET</key>
	<string>sosa-75f3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908356547933:ios:1fd0ed741813db9264e4b4</string>
</dict>
</plist>